# Generic
**/node_modules/**
.env
.log
.cache
_webmentioncache/
.vscode
**/.DS_Store

# App-specific
cache
_site/
_generated*
node-supporters/
src/_data/builtwith/

# Netlify generated stuff
.netlify/
