@media (prefers-color-scheme: dark) {
	.astro-code {
		&,
		& span {
			color: var(--shiki-dark) !important;
		}
		background-color: color-mix(
			in oklch,
			var(--shiki-dark-bg),
			white 5%
		) !important;
		/* Optional, if you also want font styles */
		font-style: var(--shiki-dark-font-style) !important;
		font-weight: var(--shiki-dark-font-weight) !important;
		text-decoration: var(--shiki-dark-text-decoration) !important;
	}
}

pre {
	line-height: var(--font-lineheight-3);
	text-align: start;
	border-radius: var(--radius-3);
	padding-block: calc(var(--size-8) + var(--size-2)) var(--size-3);
	--_pre-inline-padding: var(--size-5);
	padding-inline: var(--_pre-inline-padding);
	box-shadow: var(--shadow-3);
	justify-self: center;
	max-inline-size: max(var(--size-content-1), 95vw);
	background: linear-gradient(to bottom, #0003 0 0, 2.5rem, #0000 0 0),
		radial-gradient(
			circle at 2rem 1.25rem,
			var(--gray-10) 0 0,
			0.5rem,
			#0000 0 0
		),
		radial-gradient(
			circle at 3.5rem 1.25rem,
			var(--gray-9) 0 0,
			0.5rem,
			#0000 0 0
		),
		radial-gradient(
			circle at 5rem 1.25rem,
			var(--gray-8) 0 0,
			0.5rem,
			#0000 0 0
		),
		conic-gradient(from 25deg at 35% 75%, #ffffff09, 85%, #fff0);

	& code {
		display: inline-block;
		inline-size: 100%;

		& :is(del, ins) {
			display: inline-block;
			inline-size: calc(100% + (var(--_pre-inline-padding) * 2));
			padding-inline: var(--_pre-inline-padding);
			margin-inline: calc(var(--_pre-inline-padding) * -1);
		}
	}
}

code {
	box-decoration-break: clone;
	tab-size: 4;

	:not(pre) > & {
		background: light-dark(var(--gray-1), var(--gray-10));
		border: var(--border-size-1) solid light-dark(var(--gray-5), var(--gray-9));
		padding-block: 1px;
		padding-inline: 3px;
		white-space: normal;
		overflow-wrap: break-word;
	}

	& del {
		--color-hue: var(--hue-red);
		background: light-dark(
			var(--color-1),
			color-mix(in oklch, var(--color-15), transparent 65%)
		);
		text-decoration: none;
		color: light-dark(var(--color-10), var(--color-4));

		&::before {
			content: '− ';
		}
	}

	& ins {
		--color-hue: var(--hue-green);
		background: light-dark(
			var(--color-1),
			color-mix(in oklch, var(--color-15), transparent 65%)
		);
		text-decoration: none;
		color: light-dark(var(--color-10), var(--color-4));

		&::before {
			content: '+ ';
		}
	}

	.highlighted-word {
		--_highlighted-word-padding-block: 1px;
		--_highlighted-word-padding-inline: 3px;
		background: light-dark(var(--color-1), var(--color-10));
		border: var(--border-size-1) solid var(--color-5);
		padding-block: var(--_highlighted-word-padding-block);
		padding-inline: var(--_highlighted-word-padding-inline);
		margin-block: calc(var(--_highlighted-word-padding-block) * -1);
		margin-inline: calc(var(--_highlighted-word-padding-inline) * -1);
		border-radius: var(--radius-2);

		&:has(+ .highlighted-word) {
			border-inline-end: none;
			border-start-end-radius: 0;
			border-end-end-radius: 0;
			padding-inline-end: 0;
			margin-inline-end: 0;
		}

		+ .highlighted-word {
			border-inline-start: none;
			border-start-start-radius: 0;
			border-end-start-radius: 0;
			padding-inline-start: 0;
			margin-inline-start: 0;
		}
	}
}
