@layer frameworks, base, overrides;

@import 'open-props/style' layer(frameworks);
@import 'open-props/media' layer(frameworks);
@import 'open-props/fonts' layer(frameworks);
@import 'open-props/sizes' layer(frameworks);
@import 'open-props/easings' layer(frameworks);
@import 'open-props/zindex' layer(frameworks);
@import 'open-props/shadows' layer(frameworks);
@import 'open-props/aspects' layer(frameworks);
@import 'open-props/gradients' layer(frameworks);
@import 'open-props/animations' layer(frameworks);
@import 'open-props/borders' layer(frameworks);
@import 'open-props/normalize' layer(frameworks);
@import 'open-props/oklch-hues' layer(frameworks);
@import 'open-props/colors-hd' layer(frameworks);
@import 'open-props/gray-hd' layer(frameworks);

@import 'slide.css' layer(base);
@import 'typography.css' layer(base);
@import 'code.css' layer(base);
@import 'transitions.css' layer(base);
@import 'utilities.css' layer(base);

@import 'overrides.css' layer(overrides);

@layer base {
	@view-transition {
		navigation: auto;
	}

	:root {
		@media (prefers-color-scheme: light) {
			--color-hue: var(--hue-purple);
		}
		@media (prefers-color-scheme: dark) {
			--color-hue: var(--hue-cyan);
		}
		--brand: light-dark(oklch(60% 0.4 331.46), color(display-p3 0 1 0.75));
		--gray-chroma: 0.01;
		--gray-hue: 270;

		--surface-1: light-dark(var(--gray-0), var(--gray-15));
		--surface-2: light-dark(var(--gray-1), var(--gray-14));
		--surface-3: light-dark(var(--gray-2), var(--gray-13));
		--surface-4: light-dark(var(--gray-3), var(--gray-12));

		--text-1: light-dark(var(--gray-15), var(--gray-1));
		--text-2: light-dark(var(--color-15), var(--color-1));
	}

	:focus-visible {
		outline-style: solid;
		outline-width: 0.125em;
		outline-offset: 0.3125em;
	}

	html {
		background-color: var(--surface-1);
	}

	button {
		padding: var(--size-1) var(--size-2);
		border-radius: var(--radius-2);
		border: var(--border-size-2) solid currentColor;

		&:disabled {
			border-style: dashed;
			cursor: not-allowed;
		}
	}

	ol,
	ul {
		padding-inline-start: var(--size-8);

		& li {
			padding-inline-start: 0;
		}

		@container (inline-size < 50em) {
			padding-inline-start: var(--size-5);
		}
	}
}
