.content:empty {
	display: none;
}

.browser-support {
	display: grid;
	grid-template-columns: repeat(3, auto);
	gap: var(--size-relative-5);
	justify-content: center;

	details:has(&) {
		inline-size: 29ch;
	}

	> p {
		--color-hue: var(--hue-green);
		color: light-dark(var(--color-6), var(--color-4));
		inline-size: fit-content;
		display: grid;
		grid-template-columns: repeat(2, auto);
		gap: var(--size-relative-5);
		align-items: center;
		font-weight: var(--font-weight-7);

		&:not(:first-child) {
			border-inline-start: var(--border-size-2) solid var(--gray-5);
			padding-inline-start: var(--size-relative-5);
		}
	}

	& img {
		block-size: 1.5em;
		aspect-ratio: var(--ratio-square);

		&:not(:first-of-type) {
			block-size: 0.8em;

			@media (prefers-color-scheme: dark) {
				filter: invert(1);
			}
		}
	}
}
