@import 'transition-style';

html {
	&::view-transition {
		pointer-events: none;
	}

	&[data-view-transition='page'] {
	}

	&[data-view-transition='element'] {
		view-transition-name: none;

		&::view-transition-old(*),
		&::view-transition-new(*) {
			block-size: 100%;
		}

		& h1:nth-child(1 of main h1) {
			view-transition-name: slide-title;
		}

		& .content {
			view-transition-name: content;
		}

		& :is(h2, .h2):only-of-type {
			view-transition-name: slide-subtitle;
		}

		& pre:nth-child(1 of .content pre) {
			view-transition-name: first-snippet;
		}

		& pre:nth-child(2 of .content pre) {
			view-transition-name: second-snippet;
		}

		& img {
			view-transition-name: slide-image;
		}

		& .controls {
			view-transition-name: slide-controls;
		}
	}
}
