.h0 {
	font-size: calc(var(--font-size-8) * 2);
}

h1,
.h1 {
	max-inline-size: none;
	font-size: var(--font-size-8);
	line-height: var(--font-lineheight-0);

	& em {
		color: var(--brand);
	}

	& :focus-visible {
		outline-width: 0.0625em;
	}
}

h2,
.h2 {
	font-size: var(--font-size-6);
}

h3,
.h3 {
	font-size: var(--font-size-5);
}

h4,
.h4 {
	font-size: var(--font-size-4);
}

h5,
.h5 {
	font-size: var(--font-size-3);
}

@container (inline-size < 50em) {
	.h0 {
		font-size: var(--font-size-6);
	}

	h1,
	.h1 {
		font-size: var(--font-size-5);
	}

	h2,
	.h2 {
		font-size: var(--font-size-4);
	}

	h3,
	.h3 {
		font-size: var(--font-size-3);
	}

	h4,
	.h4 {
		font-size: var(--font-size-2);
	}

	h5,
	.h5 {
		font-size: var(--font-size-1);
	}
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
p,
small,
blockquote,
li {
	text-wrap: balance;
	text-wrap: pretty;
}

h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	max-inline-size: none;

	& em {
		color: var(--brand);
	}

	& :focus-visible {
		outline-width: 0.0625em;
	}
}

@media (width > 720px) {
	.content {
		font-size: var(--font-size-5);
	}

	p,
	blockquote,
	ul,
	ol,
	dl,
	li,
	pre {
		font-size: inherit;
	}
}

a {
	color: light-dark(var(--color-10), var(--color-3));
	text-decoration: underline;
	text-decoration-color: var(--brand);
	text-underline-offset: 0.1em;

	&:focus-visible {
		border-radius: var(--radius-round);
		padding-inline: var(--size-3);
		margin-inline: calc(var(--size-3) * -1);
	}
}

blockquote {
	max-inline-size: none;
	inline-size: fit-content;
	box-shadow: var(--shadow-4);
	border: none;
	border-radius: var(--radius-3);
	padding-block: var(--size-5);
	padding-inline: var(--size-8);
	background: linear-gradient(
		to right in oklab,
		color-mix(in oklab, var(--brand), var(--surface-1) 50%) 0%,
		0.5em,
		color-mix(in oklab, var(--brand), var(--surface-1) 75%) 1.25em,
		var(--surface-1) 4em
	);

	> h1 {
		position: relative;
	}
	> ::before,
	> ::after {
		color: var(--text-2);
	}
	> :not(h1)::before,
	> :not(h1)::after {
		font-size: 2em;
		line-height: 0.5;
		vertical-align: middle;
	}
	> :only-child::before,
	> :not(:last-child)::before {
		content: '“';
	}
	> :not(h1)::before {
		margin-inline-start: -0.375em;
	}
	> h1::before {
		position: absolute;
		top: 0;
		right: 100%;
	}
	> :only-child::after,
	> :not(:last-child)::after {
		content: '”';
	}
}

aside {
	inline-size: fit-content;
	font-size: var(--font-size-3);
	background-color: color-mix(in oklch, var(--brand), transparent 95%);
	backdrop-filter: blur(0.15rem);
	border: 1px solid var(--brand);
	border-radius: var(--radius-round);
	padding-inline: var(--size-7);
	padding-block: var(--size-3);
}

del {
	--color-hue: var(--hue-red);
	background-color: var(--color-10);
	color: var(--color-1);
}
